html,
body {
    scroll-behavior: smooth;
}

.heading {
    width: 100%;
    cursor: default;
}

.login_div {
    background: rgb(255, 255, 255);
    float: none;
    border-radius: 5px;
    border: 2px dotted grey;
    border-color: #ddd;
}

.login_div input {
    border-radius: 10px;
}

.btn-success {
    width: 80%;
    flex: auto;
}

.resize {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid lightblue;
    cursor: pointer;
}